@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

:root {
  --primary-color: #2b4f8c;
  --gray-300: #dfdfdf;
  --white: #ffffff;
}

html {
  @apply w-full h-full;
}
body {font-family: 'Nanum Gothic', sans-serif !important; margin: 0px; padding: 0px; width: 100%; height: 100%; position: relative; font-size: 12px;}
.v-application {
  font-family: 'Nanum Gothic', sans-serif !important;
}
* {
  @apply m-0 p-0;
}

*:focus {
  @apply outline-none;
}

select {
  background-image: url("../img/drop-down.svg");
  background-position: 95%;
}

.appTitle {
  color : var(--primary-color);
  @apply pl-12;
}

.userBox {
  @apply flex;
  & .v-list-item__title {
    @apply text-black;
  }
}

.activationStatusBox {
  @apply w-full h-full flex text-center;
}

.acsTextBox {
  @apply w-1/2 h-full pr-4 border-r border-solid border-gray-300 flex justify-center items-center text-center;
}

.acsBtnBox {
  @apply w-1/2 h-full pl-4 flex justify-center items-center text-center;
}

.pipelineListBox{
  @apply flex flex-col w-full pr-16;
}
/* Table */
.pipelineListTitle{
  @apply w-full ml-9 mt-10;
}

.pipelineTable {
  & .v-data-table__wrapper {
    & .text-start {
      text-align: center !important;
    }
    & tr:hover {
      background-color: rgba( 220 , 233, 255, 0.2) !important;
    }
    & th {
      @apply rounded-none bg-gray-100 text-black;
    }
    & td {
      vertical-align: inherit;
      @apply border border-solid border-gray-200 table-cell text-xs;
    }
    & th:nth-of-type(1), td:nth-of-type(1) {
      width: 5%;
      @apply border-l border-solid border-gray-200 p-0;
    }
    & th:nth-of-type(2), td:nth-of-type(2), th:nth-of-type(3), td:nth-of-type(3) {
      width: 13%;
    }
    & th:nth-of-type(4), td:nth-of-type(4) {
      width: 18%;
    }
    & th:nth-of-type(5), td:nth-of-type(5), th:nth-of-type(6), td:nth-of-type(6) {
      width: 14%;
    }
    & th:nth-of-type(7), td:nth-of-type(7) {
      width: 11%;
    }
    & th:nth-of-type(8), td:nth-of-type(8) {
      width: 12%;
    }
    & button {
      background-color: var(--primary-color);
      @apply text-white w-full h-3/5;
      &:disabled {
        @apply text-white w-full h-3/5 bg-gray-300;
      }
    }
  }
}

.searchBox {
  @apply flex items-center w-full h-8;
}

.activationFilter {
  @apply flex h-full w-1/4 items-center;
  & p {
    @apply m-0 w-10;
  }
  & select {
    @apply h-full w-4/5 cursor-pointer px-2 rounded-none border border-solid border-gray-200;
  }
}

.search {
  @apply flex w-full h-full float-right items-center justify-end;
  & input {
    @apply h-full w-1/2 px-2 rounded-none border border-solid border-gray-200; 
  }
  & div {
    @apply h-full w-1/2 rounded-none border border-solid p-3 border-gray-200 bg-gray-300;
  }
  & select {
    @apply h-full rounded-none overflow-ellipsis cursor-pointer border border-solid border-gray-200 px-2;
  }
  & button {
    @apply h-full w-1/12 border-none text-white;
    background-color: var(--primary-color);
  }
}

.contentsBox {
  @apply flex flex-col w-full h-full overflow-scroll;
}

.pipelineBtnBox {
  @apply flex justify-end w-full h-auto;
}

.pipelineButton {
  @apply w-44 py-2 text-white border-none;
  background-color: var(--primary-color);
  &:disabled {
    @apply bg-gray-300 border-none w-1/6 text-white px-6 py-2;
  }
}

/* pagination */
.paginationBox {
  @apply flex w-full justify-center;
}

.firstPageBtnBox { 
  @apply w-14 h-10;
  transform: translateX(10px);
  & button {
    @apply w-8 h-8 bg-center;
    background-image: url("../img/keyboard_double_arrow_left_24dp.svg");
    &:disabled {
      @apply bg-center pointer-events-none opacity-60;
      background-image: url("../img/keyboard_double_arrow_left_24dp.svg");
    }
  }
}

.lastPageBtnBox {
  @apply w-10 h-10 ml-2;
  transform: translateX(-10px);
  & button {
    @apply w-8 h-8 bg-center;
    background-image: url("../img/keyboard_double_arrow_right_24dp.svg");
  }
  &:disabled {
    @apply w-8 h-8 bg-center opacity-60 pointer-events-none;
    background-image: url("../img/keyboard_double_arrow_right_24dp.svg");
  }
}

.lastPageBtn:disabled { 
  @apply w-8 h-8 bg-center opacity-60 pointer-events-none; 
  background-image: url("../img/keyboard_double_arrow_right_24dp.svg");
}

.redirectBtn button {
  @apply w-20 h-8 mb-5 text-base text-white;
  background-color: var(--primary-color);
}


/* vuetify */
.v-card__actions button {
  @apply text-white w-6/12 ;
  background-color: var(--primary-color);
}

.pipelineManagement{
  @apply text-white;
}

.v-list-group__items > .v-list-item {
  padding: 0px 0px 0px 32px!important;
  @apply ml-14;
}

.v-list-item:hover {
  @apply bg-white rounded-tl-3xl rounded-bl-3xl;
  & .v-list-item__title {
    @apply text-black;
  }
  & .v-list-item__content > .v-list-item__title {
    @apply text-black;
  }
}

.activationNav {
  @apply bg-white rounded-tl-3xl rounded-bl-3xl;
  & .v-list-item__title{
    @apply text-black;
  }
}

.activationNavBoxBtn {
  background-color: var(--primary-color);
  @apply rounded-tl-3xl rounded-bl-3xl;
}


/* pipelineUpdate */
.pipelineUpdateSubTitle{
  @apply mt-5;
  color: var(--primary-color);
}
.pipelineUpdateMainTitle{
  color: var(--primary-color);
}

/* customTable */
.customTableBox {
  @apply border border-solid border-gray-200 w-full h-11 mt-3 pl-5 leading-10 border-t-2 border-solid;
  border-color: var(--primary-color);
}

.customTableMainArea {
  @apply border-t-2 border-solid mt-2 w-full;
  border-color: var(--primary-color);
}

.customTable {
  @apply flex;
  & .header {
    @apply border border-solid border-gray-200 flex justify-between w-5/12 h-11 leading-10 pl-5 bg-gray-50;
  }
  & .value {
    @apply w-7/12 h-11 leading-10 border border-solid border-gray-200;
    & input {
      @apply border border-solid border-gray-200 pl-4 ml-3 mt-1 h-8 w-8/12;
    }
    & input[type=radio] {
      @apply border border-solid border-gray-200 w-8/12 pl-5 w-4 h-10;
      margin-top: 0 !important;
      accent-color: var(--primary-color);
    }
  }
  & select {
    @apply border border-solid border-gray-200 mt-1 ml-3 pl-4 leading-10 h-9 w-8/12;
  }
  & .flex > .value div {
    @apply w-full pl-5;
  }
}

.pipelineUpdateConvertVFT {
  @apply mt-5;
  & .value {
    @apply border border-solid border-gray-200 w-7/12 h-11 leading-10;
  }
  & th {
    @apply border-t-2 border-solid bg-gray-50;
    border-color: var(--primary-color);
    & .text-start{
      @apply text-center;
    }
  }
  & td.text-start{
    @apply text-center p-0 text-xs;
  }
  & input {
    @apply border border-solid border-gray-200 w-8/12 pl-3 h-4/6 m-3;
  }
  & select {
    @apply border border-solid border-gray-200 w-8/12 pl-3 h-4/6 m-3;
  }
  & .v-data-table__wrapper {
    & th:nth-of-type(1), td:nth-of-type(1) {
      @apply border-l border-r border-b border-solid border-gray-200 bg-gray-50 w-5/12;
    }
    & th:nth-of-type(2), td:nth-of-type(2) {
      @apply w-7/12 border-r border-b border-solid border-gray-200 text-left;
    }
    & td:nth-of-type(2) {
      @apply bg-white;
    }
  }
}


.pipelineUpdateIdVFT {
  @apply mt-5 text-center text-xs;
  & th.text-start{
    @apply text-center;
  }
  & td.text-start {
    @apply text-center p-0 text-xs;
  }
  & input {
    @apply w-8/12 h-4/6 pl-3 m-3 border border-solid border-gray-200;
  }
  & th{
    @apply bg-gray-50 border-t-2 border-solid;
    border-color: var(--primary-color);
  }
  & .v-data-table__wrapper {
    & th:nth-of-type(1), td:nth-of-type(1) {
      @apply border-l border-r border-b border-solid border-gray-200 w-5/12 bg-gray-50;
    }
    & th:nth-of-type(2), td:nth-of-type(2) {
      @apply w-7/12 border-r border-b border-solid border-gray-200 text-left;
    }
    & td:nth-of-type(2) {
      @apply bg-white;
    }
  }
}

.pipelineUpdateButton { 
  background-color: var(--primary-color);
  @apply text-white font-normal w-44 h-9;
  &:disabled {
    @apply bg-gray-300 text-white font-normal w-44 h-9;
  }
}

.pipelineUpdateContentBox{
  width: 95%; 
  margin-top: 5%;
}

.pipelineUpdateBtnBox {
  width: 95%;
  @apply flex justify-end;
}

.pipelineCreateNavBox {
  @apply flex w-full justify-center;
  height: 10%;
  & .navBoxBtn {
    @apply bg-white border border-solid border-gray-200 flex justify-center items-center text-black w-1/6 h-12 relative;
  }
  & .lastbtn {
    @apply bg-white border border-solid border-gray-200 flex justify-center items-center text-black w-1/6 h-12 relative;
  }
  & .activationBtn {
    @apply border border-solid border-gray-200 flex justify-center items-center text-white w-1/6 h-12 relative;
    background-color: var(--primary-color);
  }
  & .activeLastbtn {
    @apply flex justify-center items-center border border-solid border-gray-200 text-white w-1/6 h-12 relative;
    background-color: var(--primary-color);
  }
  & .activeNavBoxBtn {
    @apply flex justify-center items-center border border-solid border-gray-200 text-white w-1/6 h-12 relative;
    background-color: var(--primary-color);
  }
  & .activationBtn {
    &::before {
      @apply absolute -right-4;
      content: "";
      border-top: 7px solid transparent; 
      border-left: 17px solid var(--primary-color);
      border-right: 0px solid transparent; 
      border-bottom: 7px solid transparent;
      z-index: 2;
    }
    & .numberBox {
      @apply flex justify-center items-center rounded-full text-white w-6 h-6 mr-3;
      background-color: rgba( 255, 255, 255 ,0.2);
    }
  }
  & .navBoxBtn:after {
    @apply absolute -right-4;
    content:""; 
    border-top: 7px solid transparent; 
    border-left: 15px solid var(--gray-300); 
    border-right: 0px solid transparent; 
    border-bottom: 7px solid transparent; 
    z-index: 1;
  }
  & .navBoxBtn:before {
    @apply absolute -right-4;
    content: "";
    border-top: 7px solid transparent; 
    border-left: 17px solid white; 
    border-right: 0px solid transparent; 
    border-bottom: 7px solid transparent;
    z-index: 2;
  }
}

.numberBox{
  @apply flex justify-center items-center border border-solid border-gray-200 rounded-bl-full text-black w-6 h-6 mr-3;
  background-color: rgba( 145, 145, 145, 0.2);
}

.userAlertTextBox {
  @apply flex justify-center items-center text-center p-0 mt-0 mx-6 mb-5 h-44;
  width:500px;
  & .first {
    @apply flex items-center h-10 border-t-2 border-solid;
    width: 500px; 
    border-color: var(--primary-color);
  }
  & .normal {
    @apply flex items-center border-t border-solid border-gray-200 h-10;
    width: 500px;
  }
  & .key {
    @apply w-5/12 h-full flex justify-center items-center bg-gray-50;
  }
  & .value {
    @apply w-7/12 h-full flex justify-center items-center border-l border-solid border-gray-200;
  }
}

.ofhover {
  @apply overflow-auto;
}

.ofhover::-webkit-scrollbar {
  margin-bottom: 3%;
}
